* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #83a31d;
}

body {
    width: 100vw;
    height: 100vh;
}

#wrapper {
    background: rgba(0,0,0,.4);
    width: fit-content;
}