* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

#wrapper, button {
    background: rgba(0,0,0,.4);
}

body {
    width: 100vw;
    height: 100vh;
    background: url("https://cdn.wallpapersafari.com/91/71/td2p0m.jpeg"), center;
    background-size: 100vw 100vh;
}

#wrapper {
    width: fit-content;
}